doctype 5
html
  head
    title= title || 'Admin Panel'
    link(rel='stylesheet', href='/stylesheets/admin.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/admin_javascript.js')
  body
    .container
      .navbar.navbar-default
        .navbar-header
          a(class='navbar-brand' href='/admin') Node-Blog
        ul(class='nav navbar-nav')
          li
            a(href='#') Home
          li 
            a(class='dropdown-toggle' data-toggle='dropdown' href='#') Users 
              b(class='caret')
            ul(class='dropdown-menu')
              li
                a(href='/admin/users/add') Add user
              li
                a(href='/admin/users/') List users
      if(typeof success_messages != 'undefined')
        each message in success_messages
          .alert.alert-success.fade
            button(type='button' class='close' data-dismiss='alert') x
            span= message
      if(typeof error_messages != 'undefined')
        each message in error_messages
          .alert.alert-info.fade
            button(type='button' class='close' data-dismiss='alert') x
            span= message
      h1= title
      .well
        block content