extends ../layout.jade

block content
  if users.length
    table(class='table')
      thead
        tr
          th Username
          th Email
          th Brief
          th Actions
      tbody
        each user in users
          tr
            td= user.username
            td= user.email
            td= user.brief
            td
              a(href="/admin/users/edit/#{user.username}") Edit
  else
    p Nothing to show!